#contentDepoimentos
{    
    height: 100px;
    background-color: transparent;
}

#btnEsquerdo
{
    float: left;
}

#btnDireito
{
    float: right;    
}

#updatePanel
{
    float: left;
    width: 86%;  
    height: 100%; 
}

#btnDireito, #btnEsquerdo
{
    padding-top: 12px;
    text-align: center;
    width: 7%;
    height: 100%;
    vertical-align: middle;
}