.botoesNavegacao
{
    float: right;
    width:32px
}

.botaoNavVoltar
{
    text-align: center;
    margin-top:618px;
}

.botaoNavAvancar
{
    float: right;    
    text-align: center;
}

#localPost
{
    border-left: 5px solid #1E6F99;
    width: 250px;
    float: right;
    color: #1E6F99;        
}

#textoTitulo
{
    width:400px;
    float: left;
    text-align: right;
    font-size: x-large;
    color: #1E6F99;
}

#textoPost
{
    text-align:left;
    margin-left:20px;
    padding: 15px;
}

