/* ---------------- Criado por Samuel Nasta

   ---------------- Última atualização: 05/08/2008

   ---------------- */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	color: #036;
	text-align: center;
	background-color: #FFF;
	
}
#corpoDapagina { background: url('fundo05.jpg'); width: 100%; height: 100%;}

/* Cabeçalho */

#container { margin: 0 auto; text-align: center; width: 850px; }

#header { background: url('images/fundo.jpg') 0 0 no-repeat; width: 850px; height: 250px; margin: 0 auto; }

#logo {

	background: url('images/fundoLogo.png');

	width: 200px;

	height: 125px;

	position: absolute;

	margin: -65px 200px 0px;

	text-align: center;

	left: -200px;

	top: 379px;

}

#logoImg { padding: 3px 7px 7px 3px; width: 190px; height: 120px; }

#logoShine {

	width: 200px;

	height: 130px;

	position: absolute;

	margin: -65px 200px 0px;

	left: -92px;

	top: 102px;

}


/* Navegação */

#navBar { background: url('images/fundoNav.png') 0 0 no-repeat; float: left; margin-left: 128px; margin-top: -70px; width: 600px; height: 100px; }

#nav { list-style-type: none; width: 500px; padding: 72px 58px; text-align: center; margin-bottom: 30px; }

#nav li { display: block; float: left; width: 80px; height: 20px; }

#nav li:hover { border-bottom: 4px solid #0083CA; }

#clear { clear: both; height: 30px; }


/* Conteúdo */

#destaques { float: left; border-left: 1px dashed #ccc; padding-left: 20px; height: 400px; margin-left: 20px; }

#content { text-align: left; }


/* Rodapé */

#footer { background: url('images/fundoRodape.png'); text-align: left; width: 100%; height: 120px; margin-top: 13px; margin-bottom: 2px; }

#footer #enderecoImob { float: right; width: 330px; padding-top: 20px; }

#footer ul { padding-left: 40px; }

#footer ul li { display: inline; list-style-type: none; }

#footer ul li:before { content: "| "; }

#footer ul li:first-child:before { content: ""; }

#w3c { padding-top: 10px; padding-left: 40px; }


/* Tipografia */

a { color: #05386B; }

a:hover { color: #FF811A; }

em { font-style: italic; }

h1 { font-size: 20px; font-weight: bold; color: #0083CA; }

h2 { font-size: 18px; font-style: italic; color: #ccc; }

h3 { font-size: 14px; line-height: 1.5em; padding-top: 10px;}

h4 { font-size: 12px; }

small { font-size: 11px; }

strong { font-weight: bold; }

#footer p { font-size: 11px; letter-spacing: 1px; padding: 30px 0 0 40px; }


/* Forms */

input[type=text], select, textarea { color: #3c3c3c; width: 200px; margin: 5px; }

textarea { width: 300px; }


/* Classes  */

.floatLeft { float: left; }
