#dataHora
{
    text-align: right;
}

#cabecalho
{
    margin-right: 10px;
}

#conteudoFuncional
{
    margin: 20px;
}

#botoesTela
{
    text-align: right;
    margin-right: 10px;
}

#autor
{
    text-align: right;
    font-size: x-small;
}

fieldset
{
    padding: 10px;
}

.style6
{
    font-size: x-small;
}
