<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
    <httpRuntime requestValidationMode="2.0"/>
		<!-- Para setar a linguagem e demais configurações regionais para o português-->
		<globalization fileEncoding="iso-8859-15" requestEncoding="iso-8859-15" responseEncoding="iso-8859-15" culture="pt-BR" uiCulture="pt-BR"/>
		<customErrors mode="Off"/>
		<compilation debug="false" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms name="SisLPACookie" loginUrl="Login.aspx" timeout="30"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
		</pages>
	</system.web>
	<appSettings>
		<!-- dev:  server=localhost;User Id=root; Pwd=root;Persist Security Info=True;database=sislpa_bd; Convert Zero Datetime=True; Allow Zero Datetime=True; Allow User Variables=True 
         HML: server=186.202.152.196;User Id=consuti; Pwd=bd_sislp@;Persist Security Info=True;database=consuti; Convert Zero Datetime=True; Allow Zero Datetime=True; Allow User Variables=True
         PROD: server=186.202.152.245;User Id=consuti1; Pwd=bd_sislp@;Persist Security Info=True;database=consuti1; Convert Zero Datetime=True; Allow Zero Datetime=True; Allow User Variables=True  
         
         PROD Plesk: server=robb0259.publiccloud.com.br;User Id=sislp_user; Pwd=ev@nescence!@#123;Persist Security Info=True;database=sislpa_bd; Convert Zero Datetime=True; Allow Zero Datetime=True; Allow User Variables=True 
         -->
		<add key="constr" value="server=robb0259.publiccloud.com.br;User Id=sislp_user; Pwd=ev@nescence!@#123;Persist Security Info=True;database=sislpa_bd; Convert Zero Datetime=True; Allow Zero Datetime=True; Allow User Variables=True  "/>
		<add key="emailContatoAutorizacao" value="alberto.miranda@prudentialfranquia.com.br"/>
		<add key="emailDestinatarioRecuperarSenha" value="naoresponda@sislpa.com.br"/>
	</appSettings>
	<location path="Estilos">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="CadastroUsuario">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="RecuperarSenha">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
